.title{
  text-align: center;
  font-weight: bold;
}

p{
  text-align: center;
  font-weight: bold;

}

.btn.btn-primary.pull-left {
    margin-left: 0px;
}

.ajout{
  text-align: center;
}
